

  <!--card-->
  <div id="cards">  
    <figure class="card card--normal">
      <div class="card__image-container">
        <img src="https://cdn.bulbagarden.net/upload/thumb/e/e2/133Eevee.png/1200px-133Eevee.png" alt="Eevee" class="card__image">   
      </div>
      
      <figcaption class="card__caption">
        <h1 class="card__name">
          <ng-container matColumnDef="gender">
              <p *matCellDef="let element">{{element.gender}} momo</p>  <!--non so perché non appare-->
          </ng-container>
        </h1>
        momo2



        
        <!--
        <h3 class="card__type">
          normal
        </h3>
    
        <table class="card__stats">
          <tbody><tr>
            <th>HP</th>
            <td>55</td>
          </tr>
          <tr>
            <th>Attack</th>
            <td>55</td>
          </tr>
          
          <tr>
            <th>Defense</th>
            <td>50</td>
          </tr>
    
          <tr>
            <th>Special Attack</th>
            <td>45</td>
          </tr>
          <tr>
            <th>Special Defense</th>
            <td>65</td>
          </tr>
          <tr>
            <th>Speed</th>  
            <td>55</td>
          </tr>
        </tbody></table>
        
        <div class="card__abilities">
          <h4 class="card__ability">
            <span class="card__label">Ability</span>
            Run Away
          </h4>
          <h4 class="card__ability">
            <span class="card__label">Hidden Ability</span>
            Anticipation
          </h4>
        </div>
        -->
      </figcaption>
    </figure>



    <!--
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8 cent">


 da usare come base per nettere gli altri dati

  <ng-container matColumnDef="gender">
    <td mat-cell *matCellDef="let element"> <h1>{{element.gender}} </h1> </td>
  </ng-container>


  

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef> Delete </th>
    <td mat-cell *matCellDef="let element"><button>delete</button></td>
  </ng-container>

<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>


</table>


<div class="cent">
<button mat-button  class="b1" (click)="firstpage()">first page</button>
<button mat-button class="b2" [disabled]="!data?._links?.prev"(click)="prevpage()">&lt;&lt;</button>
{{data?.page?.number}}
<button mat-button  class="b2" [disabled]="!data?._links?.next"(click)="nextpage()">&gt;&gt;</button>
<button mat-button  class="b1" (click)="lastpage()">last page</button>
</div>-->